{{define "main"}}
    <h1>
        {{if .Params.Link}}
        <a href={{.Params.Link}}/tree/HEAD@%7B{{(.Params.Date.AddDate 0 0 1).Unix}}%7D>
        {{end}}
            {{.Title}}
        {{if .Params.Link}}
        </a>
        {{end}}
        {{if .Params.Unlisted}}
        (unlisted)
        {{end}}
    </h1>
    <p class="epigraph">{{.Params.Brief | transform.Markdownify}}</p>
    {{if .Params.Iframe}}
    <iframe src={{.Params.Iframe}}></iframe>
    {{end}}
    <div class="frontmatter">
        <div>{{ .TableOfContents }}</div>
        <div>
            published {{.Params.Date.Format "January 2, 2006"}}.<br>
            modified {{.Lastmod | time.Format "January 2, 2006"}}.<br>
            {{ .WordCount }} words.
            ~{{ .ReadingTime }} minutes to read.
        </div>
    </div>
    <main data-pagefind-body>
        {{.Content}}
    </main>
{{end}}
