<title>{{ if .IsHome}} ktnlvr {{ else }} {{.Title | strings.ToLower}} - ktnlvr {{ end }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=300px, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link 
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
<style type="text/css">
    @import url("/style.css");
    
    {{ with .Resources.GetMatch "style.css" }}
        {{ .Content | safeCSS }}
    {{ end }}
</style>
{{ if .Params.Favicon }}
    <link rel="icon" href="{{ .Resources.GetMatch .Params.Favicon }}">
{{ else }}
    <link rel="shortcut icon" href="{{.Site.BaseURL}}favicon.ico">
{{ end }}
<meta name="description"
    content="{{if .Description}}{{.Description | truncate 60 }}{{else if .Summary}}{{.Summary | truncate 60 }}{{else}}{{.Content | truncate 60}}{{end}}" />
<meta property="og:description"
    content="{{if .Description}}{{.Description | truncate 60 }}{{else if .Summary}}{{.Summary | truncate 60 }}{{else}}{{.Content | truncate 60}}{{end}}" />
<meta property="og:type" content="website">
<meta property="og:url" content="{{.Permalink}}">
<meta property="og:title" content="{{.Title}}" />
{{ if .Params.Image }}
<meta property="og:image" content="{{.Params.Image}}"/>
{{ else }}
<meta property="og:image" content="{{.Site.BaseURL}}pfp.png"/>
{{ end }}