<!DOCTYPE html>
<html lang="en">

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    <header>
        <h1>ktnlvr</h1>
    </header>
    <main data-pagefind-body>
        <p class="epigraph">
            a work is never truly completed, only abandoned<br>
            - Paul Valéry
        </p>
        <p>
            i'm Art(h)ur Roos (pronounced /ro:s/)
        </p>
        <p>
            i do game design, low-level stuff, hack on programming languages and crunch math(s) sometimes.
            i like a good puzzle, ready to fix your anything. obsessed with player agency and boardgames.
        </p>
        <p>
            i'm down to figure out your whatever in rust, c/c++ or python. hire me to design your next thing:
            <a href="mailto:artur.roos@ktnlvr.dev">email</a>, <a href="https://t.me/ktnlvr">telegram</a>, <a href="https://github.com/ktnlvr">github</a>.
        </p>
        <p>
            alternatively, look at the things i've written:
            <a href="{{.Site.BaseURL}}programming">code</a>,
            <a href="{{.Site.BaseURL}}design">games</a> or
            <a href="{{.Site.BaseURL}}rambling">words</a>.
        </p>
        <noscript>
            <p>noscript? <a href="{{.Site.BaseURL}}programming/ktnlvr.dev/#noscript">i respect that.</a></p>
        </noscript>
        {{- partial "content-list.html" .Site.RegularPages -}}
    </main>
    {{- partial "footer.html" . -}}
</body>

</html>