@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/latin-modern-math');

:root {
    --text-color: #0B0C0D;
    --gray-color: #5f5f5f;
    --light-gray-color: #ababab;
    --accent-color: #236689;
    --background-color: #FFF;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);

    margin: 40px auto;
    max-width: 700px;
    line-height: 1.6;
    font-size: 1.2rem;
    padding: 0 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: 0;
    line-height: 1.2
}

a {
    text-decoration: underline;
    color: var(--accent-color);
}

h1 a {
    color: var(--text-color);
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

h2 {
    padding-left: 0;
}

h1 h2 h3 h4 h5 h6 {
    min-width: 48px;
    min-height: 48px;
}

.anchor {
    cursor: text;
    color: var(--text-color);
    text-decoration: none;
}

header {
    text-align: center;
    width: 100%;
}

footer {
    padding-top: 15%;
    color: var(--gray-color);
}

footer>a {
    color: var(--gray-color);
}

iframe {
    margin: 10px 0;
    width: 100%;
    height: 400px;
}

.epigraph {
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: normal;
    color: var(--gray-color);
}

sup::before {
    content: '['
}

sup::after {
    content: ']'
}

.frontmatter {
    padding: 25px 0;
    display: block;
}

.frontmatter>* {
    padding: 1rem;
}

#TableOfContents>ul {
    margin-top: 0;
}

.frontmatter:last-child {
    text-align: right;
}

@media (min-width:300px) {
    .frontmatter {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

pre {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    max-width: 100%;
    overflow-x: hidden;
}

#TableOfContents {
    font-size: 80%;
}

#breadcrumbs {
    font-size: smaller;
    padding-left: 0;
}

.crumb {
    font-family: "JetBrains Mono", monospace;
    display: inline;
}

.crumb > a {
    color: var(--text-color);
    text-decoration: none;
}

.crumb > a:hover {
    text-decoration: underline;
}

math {
    font-family: 'Latin Modern Math', sans-serif;
}

blockquote {
    font-style: italic;
}

table {
    font-family: 'JetBrains Mono', monospace;
}
