@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/latin-modern-math');

:root {
    --bg-color-dark: #1D1E22;
    --bg-color-light: #FFF;

    --text-color-dark: #EEE;
    --text-color-light: #0B0C0D;

    --text-faded-color-dark: #b3b3b3;
    --text-faded-color-light: #ababab;

    --text-accent-color-dark: #7cc1e6;
    --text-accent-color-light: #236689;

    --background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
    --text-color: light-dark(var(--text-color-light), var(--text-color-dark)) --background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
    --text-faded-color: light-dark(var(--text-faded-color-light), var(--text-faded-color-dark));
    --text-accent-color: light-dark(var(--text-accent-color-light), var(--text-accent-color-dark));
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--bg-color-dark);
        --text-color: var(--text-color-dark);
        --text-faded-color: var(--text-faded-color-dark);
        --text-accent-color: var(--text-accent-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--bg-color-light);
        --text-color: var(--text-color-light);
        --text-faded-color: var(--text-faded-color-light);
        --text-accent-color: var(--text-accent-color-light);
    }
}

body {
    color: var(--text-color);
    background-color: var(--background-color);

    margin: 40px auto;
    max-width: 700px;
    line-height: 1.6;
    font-size: 1.2rem;
    padding: 0 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-top: 0;
    line-height: 1.2
}

a {
    text-decoration: underline;
    color: var(--text-accent-color);
}

h1 a {
    color: var(--text-color);
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

h2 {
    padding-left: 0;
}

h1 h2 h3 h4 h5 h6 {
    min-width: 48px;
    min-height: 48px;
}

.anchor {
    color: var(--text-faded-color);
    text-decoration: none;
}

header {
    text-align: center;
    width: 100%;
}

footer {
    padding-top: 15%;
    color: var(--text-faded-color);
}

footer>a {
    color: var(--text-faded-color);
}

iframe {
    margin: 10px 0;
    width: 100%;
    height: 400px;
}

.epigraph {
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: normal;
    color: var(--text-faded-color);
}

sup::before {
    content: '['
}

sup::after {
    content: ']'
}

.frontmatter {
    padding: 25px 0;
    display: block;
}

.frontmatter>* {
    padding: 1rem;
}

#TableOfContents>ul {
    margin-top: 0;
}

.frontmatter:last-child {
    text-align: right;
}

@media (min-width:300px) {
    .frontmatter {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

pre {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    max-width: 100%;
    overflow-x: hidden;
}

#breadcrumbs {
    color: var(--text-color);
    font-size: smaller;
    padding-left: 0;
}

.crumb {
    font-family: "JetBrains Mono", monospace;
    display: inline;
}

.crumb>a {
    color: inherit;
    text-decoration: none;
}

.crumb>a:hover {
    text-decoration: underline;
}

math {
    font-family: 'Latin Modern Math', sans-serif;
}

blockquote {
    font-style: italic;
}

table {
    font-family: 'JetBrains Mono', monospace;
}

.footnote-backref {
    text-decoration: none;
}